bms_url=https://hammerhead-app-kva7n.ondigitalocean.app
bms_item_create=/Bacnet/create/item
bms_item_update=/Bacnet/Update/item
bms_item_retrieve_multiple=/Bacnet/api/get/items
bms_item_delete=/Bacnet/api/delete/item/{0}
bms_groups=/Bacnet/api/get/bms/groups
bms_latest_data=/Bacnet/api/get/all/latest/data
bms_latest_data_days=/Bacnet/api/get/all/latest/data/{0}
bms_object_id=/Bacnet/api/get/object/{0}