RoadRunnerBaseURL=https://roadrunner-sj.mymachinecity.com
LoginRoute=/api/login
SitesRoute=/api/sites
BuildingTypesRoute=/api/types
BuildingDataRoute=/api/building/{0}/data
BuildingDatasMultipleRoute=/api/building/datas
ItemCreateRoute=/api/item/create
ItemUpdateRoute=/api/item/{0}/update
ItemDeleteRoute=/api/item/{0}/delete
ItemDeleteMultipleRoute=/api/items/delete
ItemRetrieveRoute=/api/item/{0}/retrieve
ItemRetrieveMultipleRoute=/api/items/retrieve
PostCreateRoute=/api/post/create
PostUpdateRoute=/api/post/{0}/update
PostDeleteRoute=/api/post/{0}/delete
PostDeleteMultipleRoute=/api/posts/delete
PostRetrieveRoute=/api/post/{0}/retrieve
PostRetrieveMultipleRoute=/api/posts/retrieve
BeaconCreateRoute=/api/beacon/create
BeaconUpdateRoute=/api/beacon/{0}/update
BeaconDeleteRoute=/api/beacon/{0}/delete
BeaconDeleteMultipleRoute=/api/beacons/delete
BeaconRetrieveRoute=/api/beacon/{0}/retrieve
BeaconRetrieveMultipleRoute=/api/beacons/retrieve
StationCreateRoute=/api/station/create
StationUpdateRoute=/api/station/{0}/update
StationDeleteRoute=/api/station/{0}/delete
StationDeleteMultipleRoute=/api/stations/delete
StationRetrieveRoute=/api/station/{0}/retrieve
StationRetrieveMultipleRoute=/api/stations/retrieve
SensorRetrieveRoute=/api/item/{0}/sensors
SensorRetrieveMultipleRoute=/api/items/sensors
CommentCreateRoute=/api/comment/create
CommentUpdateRoute=/api/comment/{0}/update
CommentDeleteRoute=/api/comment/{0}/delete
CommentRetrieveRoute=/api/comment/{0}
MaxItemRetrievePerCall=32
MaxPostRetrievePerCall=32
MaxBeaconRetrievePerCall=32
MaxStationRetrievePerCall=32
BMSBaseURL=https://hammerhead-app-kva7n.ondigitalocean.app
BMSItemCreateRoute=/Bacnet/api/create/east/item
BMSItemUpdateRoute=/Bacnet/api/update/east/item
BMSItemDeleteRoute=/Bacnet/api/delete/east/item/{0}
BMSItemRetrieveRoute=/Bacnet/api/get/east/items
BMSRetrieveLatestDataRoute=/Bacnet/api/get/all/east/latest/data
BMSRetrieveLatestDataByDaysRoute=/Bacnet/api/get/all/east/latest/data/{0}
BMSRetrieveGroupsRoute=/Bacnet/api/get/east/bms/groups
BMSRetrieveObjectByIDRoute=/Bacnet/api/get/east/object/{0}
FaultReportCreateRoute=https://hammerhead-app-kva7n.ondigitalocean.app/api/FaultReport
FaultReportRetrieveRoute=https://hammerhead-app-kva7n.ondigitalocean.app/api/FaultReport
